1. **write a code to reverse a string.**

Ans:

In [4]:
str_1 = "Bikram"
reverse = str_1[::-1]
print(reverse)

markiB

2. **write a code to count the number of vowels in a string. **

Ans:

In [5]:
string = "Bikram"
vowels = "aeiouAEIOU"
count = sum(string.count(vowel) for vowel in vowels)
print(count)

2

3. ** write a code to check if a given string is a palindrome or not.**

In [6]:
def is_palindrome(s):
    return s == s[::-1]

string = "Bikram"
if is_palindrome(string):
    print(f"{string} is a palindrome.")
else:
    print(f"{string} is not a palindrome.")

Bikram is not a palindrome.

4. ** write a code to check if two given strings are anagrams of each other.**

In [10]:
# Function to check if two strings are anagrams
def anagrams(s1, s2):
    # Sort both strings and compare
    return sorted(s1) == sorted(s2)



if __name__ == "__main__":
    str1 = "Bikram"
    str2 = "Bidisha"

    if anagrams(str1, str2):
        print("True")
    else:
        print("False")

    str1 = "gram"
    str2 = "arm"

    if anagrams(str1, str2):
        print("True")
    else:
        print("False")

False
False

5. **write a code to find all occurences of a given substring within another string.**

In [11]:
def find_substrings(string, substring):
    indices = []
    start = 0
    while True:
        index = string.find(substring, start)
        if index == -1:
            break
        indices.append(index)
        start +=1
    return indices

string = "Bikram"
substring = "i"
indices = find_substrings(string, substring)
print(indices)

[1, 1]

6. **write a code to perfrom basic string compression using the counts of repeted charracters.**

In [3]:
def compress_str(x):
  res = ""
  count = 1
  for i in range (1, len(x)):
    if x[i] == x[i-1]:
      count += 1
    else:
      res = res + x[i-1]
      if count > 1:
        res = res + str(count)
      count = 1
  res = res + x[-1]
  if count > 1:
    res = res + str(count)
  return res
x = "bikrambikkibidisha"
print(compress_str(x))

bikrambik2ibidisha

7. **write a code to determine if a string has all unique characters.**

In [4]:
def unique_characters(str):
   if len(str) > 256:
    return  False
   char_set = [False] * 128
   for char in str:
    if char_set[ord(char)]:
     return False
    char_set[ord(char)] = True
   return True

str = "Bikram"
if unique_characters(str):
    print("True")
else:
    print("False")

True

8. ** write a code to convert a given string to uppercase or lowercase.**

In [6]:
from re import S
def convert(input):
  input_char = ord(input[0])

  if((input_char >= 65 and input_char <= 90) or (input_char >=97 and input_char <=122)):
    return True
  else:
    return False

def toggleChars(S):
    s = ""

    for it in range(len(S)):

        if(convert(S[it])):
            s += chr(ord(S[it]) ^ (1 << 5))
        else:
            s += S[it]

    return s

S = "Bikram"
print(toggleChars(S))

bIKRAM

9. ** write a code to count the number of words in a string.**

In [7]:
import re

def count_words(string):
    word_count = 0
    state = 0

    for char in re.findall(r"\\.|[\w]", string):
        # Check for backslash first
        if char == '\\':
            continue


        if char.isalnum():

            if state == 0:
                word_count += 1
                state = 1

        else:
            # Change state to OUT
            state = 0

    return word_count


string = "abc\\p\"" # Input string
print("No of words:", count_words(string)) # Count words

No of words: 1

10. ** write a code to concatenate two string without using the + operator.**

In [8]:
var_1 = "Bikram"
var_2 = "Bidisha"
print("".join([var_1, var_2]))

var_3 = " ".join([var_1, var_2])
print(var_3)

BikramBidisha
Bikram Bidisha

11. ** write a code to remove all occurences of a specific element from a list.**

In [15]:
def remove_element(lst, element):
    element_count = lst.count(element)
    for i  in range(element_count):
        lst.remove(element)
    return lst

if __name__=="__main__":
  lst = [10, 20, 10, 30, 10, 40, 10, 50]
  element = 10
  print("the list before removal:")
  print(lst)
  result = remove_element(lst, element)
  print("the list after removal:")
  print(result)

the list before removal:
[10, 20, 10, 30, 10, 40, 10, 50]
the list after removal:
[20, 30, 40, 50]

12. ** implement to code to find the second largest number in a given list of integers.
**

In [1]:
def find_largest(numbers):
  unique_num = list(set(numbers))

  if len(unique_num) <2:
    return "not unique number"
  return sorted(inique_num)[-2]

numbers = [99,99]
second_largest = find_largest(numbers)
print(second_largest)

not unique number

13. ** Create a code to count the occurence of each element in a list and return a dictionary with element as keys and their counts as values.**

In [3]:
def count(list):
  element_count = {}
  for element in list:
    if element in element_count:
      element_count[element] +=1
    else:
      element_count[element] = 1
  return element_count

my_list = [1,2,3,4,5,6,7,8.92,3,6,6]
count = count(my_list)
print(count)

{1: 1, 2: 1, 3: 2, 4: 1, 5: 1, 6: 3, 7: 1, 8.92: 1}

14. **write a code to reverse a list in place without using any built in reverse functions.**

In [5]:
def reverse(lst):
  left,right = 0 ,len(lst) -1
  while left < right:
    lst[left],lst[right] = lst[right],lst[left]
    left += 1
    right -= 1

  my_list = [1,2,3,4,5,6,7,8]
  reverse(my_list)
  print(my_list)

15. **implement a code to find and remove duplicates from a list while preserving the original order of elements. **

In [8]:
def remove_duplicate(lst):
  seen = set()
  result = []
  for item in lst:
    if item not in seen:
      seen.add(item)
      result.append(item)
  return result

my_list = [1,2,3,4,5,6,5,5,7,8,9,10]
uni_list = remove_duplicate(my_list)
print(uni_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

16. **create a code to check if a given list is sorted(either in asending or desending order) or not.**

In [10]:
def sorted(lst):
  if all(lst[i] <= lst[i+1] for i in range(len(lst)-1)):
    return "Asending"
  elif all(lst[i] >= lst[i+1] for i in range(len(lst)-1)):
    return "Desending"
  else:
    return "Not sorted"

list_1 = [1,2,3,4,5]
list_2 = [5,4,6,3,2,1]
list_3 = [1,3,2,4,5]
print(sorted(list_1))
print(sorted(list_2))
print(sorted(list_3))

Asending
Not sorted
Not sorted

17. ** write a code to merge two sorted list into a single sorted list.**

In [11]:
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9,10]
num1 = int(input("entr number of element for list:"))
for i in range (1, num1+1):
  b = int(input("enter element:"))
  list_1.append(b)
num2 = int(input("entr number of element for list:"))
for i in range (1, num2+1):
  d = int(input("enter element:"))
  list_2.append(d)
new_list = list_1 + list_2
new_list.sort()
print(new_list)

entr number of element for list:5
enter element:2
enter element:3
enter element:10
enter element:3
enter element:14
entr number of element for list:10
enter element:20
enter element:12
enter element:12
enter element:21
enter element:14
enter element:5
enter element:3
enter element:2
enter element:21
enter element:3
[1, 2, 2, 2, 3, 3, 3, 3, 3, 4, 5, 5, 6, 7, 8, 9, 10, 10, 12, 12, 14, 14, 20, 21, 21]

18. ** implement a code to find the the intersection of two given lists.**

In [12]:
def intersection_list(list1 , list2):
  list_3 = [value for value in list1 if value in list2]
  return list_3

list_1 = [1,2,3,4,5]
list_2 = [3,4,5,6,7]
print(intersection_list(list_1,list_2))

[3, 4, 5]

19. ** create a code to find the union of two lists without duplicates.**

In [14]:
list1 = [10,23,45,19,20,45,1]
list2 = [67,35,17,19,36,9,10]
ans = []
for i in list1:
  if i not in list2:
    ans.append(i)
for j in list2:
  if j not in list1:
    ans.append(j)
print(ans)

[23, 45, 20, 45, 1, 67, 35, 17, 36, 9]

20. ** write a code to shuffle a given list randomly without using only built in shuffle functions.**

In [1]:
import random

my_list = [1,2,3,4,5]
shuffled_list = sorted(my_list, key=lambda x:random.random())
print("original list:", my_list)
print("shuffled list:", shuffled_list)

original list: [1, 2, 3, 4, 5]
shuffled list: [4, 5, 3, 2, 1]

21. **write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.**

In [2]:
def common_element(tup1,tup2):
  common = tuple(set(tup1) & set(tup2))
  return common

tup1 = (1,2,3,4,5)
tup2 = (4,5,6,7,8)
result = common_element(tup1,tup2)
print(result)

(4, 5)

22. **create a code that prompts the user to enter two sets of integers separated by commas. then print the intersection of these two sets.**

In [3]:
def get_input(prompt):
  return set(map(int, input(prompt).split(",")))

set1 = get_input("enter first set of integers separated by commas:")
set2 = get_input("enter second set of integers separated by commas:")

intersection = set1 and set2

print(intersection)

enter first set of integers separated by commas:1,2,3,4,5
enter second set of integers separated by commas:3,4,2,1,6,7
{1, 2, 3, 4, 6, 7}

23. ** write a code to concatenate two tuples. the function should take two tuples as input and return a new tuple contaning element from both input tuples.**

In [4]:
def concatenate_tuple(tup1,tup2):
  new_tup = tup1 + tup2
  return new_tup

tup1 = (1,2,3,4,5)
tup2 = (6,7,8,9,10)
result = concatenate_tuple(tup1,tup2)
print(result)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

24. ** Develop a code that prompts the user to input two sets strings. then print the element that are present in the first set but not in the second set.**

In [5]:
def get_input(prompt):
  return set(input(prompt).split(","))

set1 = get_input("enter first set of strings separated by commas:")
set2 = get_input("enter second set of strings separated by commas:")

difference = set1 - set2

print(difference)

enter first set of strings separated by commas:dog,cow,fish,monkey
enter second set of strings separated by commas:cow,dog,bird
{'fish', 'monkey'}

25. ** create a code that takes a tuple and two integers as input. the function should return a new tuple contaning element from the original tuple within the specified range of indices.**

In [6]:
def tuple_slice(tup,start,end):
  return tup[start:end+1]

original_tup = (1,2,3,4,5,6,7,8,9,10)
start = int(input("enter start index:"))
end = int(input("enter end index:"))

tuple_slice = tuple_slice(original_tup,start,end)
print(tuple_slice)

enter start index:3
enter end index:5
(4, 5, 6)

26. ** write a code that prompts the user to input two sets of characters. then, print the union of these two sets.**

In [10]:
def get_input(prompt):
  return set(input(prompt).split(","))

set1 = get_input("enter first set of characters separated by commas:")
set2 = get_input("enter second set of characters separated by commas:")

union = set1 | set2

print(union)

enter first set of characters separated by commas:a,b,c,d
enter second set of characters separated by commas:a,d,e,f
{'d', 'a', 'b', 'e', 'c', 'f'}

27. **develop a code that takes a tuple of intergers as input.the function should return the maximum and minimum values from the tuple using tuple unpacking.**

In [11]:
def max_min(t):
  min_val , max_val = min(t),max(t)
  return min_val,max_val

original_tup = (1,2,3,4,5,6,7,8,9,10)

min_val,max_val = max_min(original_tup)

input_tuple = tuple(map(int,input("enter intergers:").split(",")))

min_val1,max_val1 = max_min(input_tuple)

print(min_val1)
print(max_val1)

enter intergers:1,2,3,4,5,6
1
6

28. ** Create a code that defines two sets of integers. then print the union, intersection and difference of these two sets.**

In [13]:
a = {1,2,3,4,5};
b = {4,5,6,7,8};
print("union:", a|b)
print("intersection:" ,a & b)
print("difference",a-b)

union: {1, 2, 3, 4, 5, 6, 7, 8}
intersection: {4, 5}
difference {1, 2, 3}

29. ** write a code that takes a tuple and an element as input. the function should return the count of occurence of the given element in the tuple.**

In [15]:
def count_occurrences(t, element):
    return t.count(element)

# Example usage
input_tuple = tuple(map(int, input("Enter integers (comma-separated): ").split(',')))
element = int(input("Enter the element to count: "))

# Get the count of the element in the tuple
occurrences = count_occurrences(input_tuple, element)

print(f"The element {element} occurs {occurrences} times in the tuple.")

Enter integers (comma-separated): 1,2,3,4,5,1
Enter the element to count: 3
The element 3 occurs 1 times in the tuple.

30. ** devlop a code that prompts the user to input two sets of strings. then print the symmetric difference of these two sets.**

In [16]:
def get_input(prompt):
  return set(input(prompt).replace(" ","").split(","))

set1 = get_input("enter first set of strings separated by commas:")
set2 = get_input("enter second set of strings separated by commas:")

difference = set1 ^ set2

print(difference)

enter first set of strings separated by commas:virat,rohit,dhoni
enter second set of strings separated by commas:dhoni,sachin,kapil
{'sachin', 'kapil', 'virat', 'rohit'}

31. **Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input list. **

In [18]:
def frequencies(words):
  freq = {}
  for word in words:
    if word in freq:
      freq[word] += 1
    else:
      freq[word] = 1
  return freq

input_words = input("enter words separated by commas:").split()
word_freq = frequencies(input_words)
print(word_freq)

enter words separated by commas:banana apple orange apple banana
{'banana': 2, 'apple': 2, 'orange': 1}

32. ** Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together.**

In [20]:
def merge_dic(dic1,dic2):
  merged_dic = dic1.copy()
  for key,value in dic2.items():
    if key in merged_dic:
      merged_dic[key] += value
    else:
      merged_dic[key] = value
  return merged_dic

dic1 = eval(input("enter the 1st dic:"))
dic2 = eval (input("enter the 2nd dic:"))
result = merge_dic(dic1,dic2)
print(result)

enter the 1st dic:{'a':1 , 'b':2}
enter the 2nd dic:{'b':3 , 'c':5}
{'a': 1, 'b': 5, 'c': 5}

33. **Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.**

In [21]:
def access_nested_value(nested_dict, keys):
    current_value = nested_dict
    for key in keys:
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]
        else:
            return None  # Return None if the key does not exist
    return current_value

# Example usage
nested_dict = {
    'a': {
        'b': {
            'c': 1
        }
    },
    'x': {
        'y': 2
    }
}

keys = input("Enter the list of keys separated by commas: ").split(',')
keys = [key.strip() for key in keys]  # Remove any extra spaces

# Access the value in the nested dictionary
result = access_nested_value(nested_dict, keys)

if result is not None:
    print(f"The value for the keys {keys} is: {result}")
else:
    print(f"One or more keys do not exist: {keys}")

Enter the list of keys separated by commas: a,b,c,d
One or more keys do not exist: ['a', 'b', 'c', 'd']

34. **Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.**

In [22]:
def sort_dict_by_values(input_dict, descending=False):
    # Sort the dictionary by its values and return a new sorted dictionary
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))
    return sorted_dict

# Example usage
input_dict = eval(input("Enter a dictionary (e.g., {'a': 3, 'b': 1, 'c': 2}): "))
order = input("Do you want to sort in ascending (a) or descending (d) order? ").lower()

# Determine sorting order
if order == 'd':
    descending = True
else:
    descending = False

# Get the sorted dictionary
sorted_dictionary = sort_dict_by_values(input_dict, descending)

print(f"Sorted dictionary: {sorted_dictionary}")

Enter a dictionary (e.g., {'a': 3, 'b': 1, 'c': 2}): {'a':2,'b':1, 'c':3}
Do you want to sort in ascending (a) or descending (d) order? a
Sorted dictionary: {'b': 1, 'a': 2, 'c': 3}

35. **Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.**

In [24]:
def dict_invert(input_dict):
  dict_invert = {}

  for key,value in input_dict.items():
    if value in dict_invert:
      dict_invert[value].append(key)
    else:
      dict_invert[value] = [key]
  return dict_invert

input_dict = eval(input("enter a dictionary:"))
inverted_dict = dict_invert(input_dict)
print(inverted_dict)

enter a dictionary:{'a':2 , 'b':5 , 'c': 4}
{2: ['a'], 5: ['b'], 4: ['c']}