1. Explain that key features of python that make it a populer choice for programming.

ans:  **easy to learn and use:** python is very easy to learn and use it is devlopment friendly language.

**HIgh level language and interpreted language:**  python is an interpreated language i.e. interpreted excuted to code line by line as a time. the debugging easy and suitable for beginners.

**Free and open sourse : **  python is an free installation and open sours.

**Board level library:**  python has a largeand bored library and provides rich set of modules and function for rapid application devlopment.

**GUI programming:**  graphical user interface can be devlpoment using python.

2. Describe the role of predefined keywords in python and provide example of how they are used in a program?

Ans:  pyhton keyword are some predefined and reserved words in python that have special meaning. keyword are used to defined the syntax os coding. python keyword can not be used as an identifier, function or variable.
```

In [ ]:
10 and 12.3

12.3

In [ ]:
12.3 and 'Bikram'

'Bikram'

In [ ]:
10 or "bikram"

10

In [ ]:
not ('bikram')

False

In [5]:
a = "Bikram"
b = "Bikram"
a is b

True

In [7]:
S = "bikram"
"m" in "bikram"

True

True

if , for , while , break , def , as , return , try , class , from , else , elif , etc.

3. Copare and contrast mutable and immutable object in python with example.


Ans:  **Mutable object : **  
(a) object can be changed after creation.
(b) changing mutable object is easy and efficient.
example:  List , set , dictionary.

**Immutable object : **
(a) object can not be changed agter creation.
(b) quciker to access compared to mutable object.
(c) expensive or can not be changed.

example: interger , boolean , string, tuples , float.

4. Describe the different types of opreators in python and provide examples of how they are used.

Ans:   **Arithmatic operators:**
+ , - , * , / , % (modulus) , ** (exponetial) , //

In [8]:
a = 10
b = 20
a+b

30

In [9]:
a = 50
b = 30
print(a-b)

20

In [10]:
a = 3
b = 5
print(a*b)

15

In [11]:
a = 2
b = 3
print(a**b)

8

In [14]:
a = 10
b = 10
print(a/b)
print(a//b)
print(a%b)

1.0
1
0

**Relation operator:**  
<  , >  , =

In [15]:
a = 20
b = 10
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)

True
False
False
True
False

**Logical operator:**

and , or , not ,

In [16]:
a = 50.5
b = 120
print(a and b)

120

In [17]:
com = 2+5j
b = "bikram"
print(com or b)

(2+5j)

In [18]:
not(0)

True

**Bitwise operator:**  
bitwise and (&) , bitwise or(|) , bitwise xor(^)

In [20]:
five = 5
six = 6
print(five & six)
print(five | six)
print(five ^ six)

4
7
3

**Ternary Operator:**

In [21]:
 a = 50
 b = 20
 result = a if a>b else b
 print(result)

50

5. Explain the concept of type casting in python with example.

Ans:  type casting nothing but you want to speicify a type on to a variable. this can be done with casting. python is an object oriented programming and such it uses classes to define data types including its primituve types .


int() : construct an interger number from an interger liteger, a float literal or string literal .

float(): construct a float number from an interger literal, aflloat or a string literal

str():  construct a string from a wide varity of data types, including string, interger literals and float literals.

In [2]:
x = int(2.3)
print(x)

2

In [3]:
y = float(20)
print(y)

20.0

In [4]:
z = str(3.6)
print(z)

3.6

6.  how to do conditional statement work in python? illustrate with example.

Ans: Conditinal statements in python evaluate conditionas to control what a program executes.
if condition is true , the program is excuetue another side if condition is false then program will be false.

In [5]:
num_1 = 100
num_2 = 200
if num_1 > num_2:
  print("true")
else:
  print("false")

false

7. describe the different types of loop in python and their use cases with examples.

Ans: in python loops are 3 types
for loop , wgile loop , do while loop

**for loop:**
in python the for loop is used to iterate over a sequnce ( list, tuple, string, dictionary)

in python for loop only implement the collection based iteration.


**while loop:**
python while loop is used to excuted a block of statements repeatedly until a given condition is satisfied. when condition false the line immediately after the loop in the program is executed.

**do-while loop:**

do while loop is a type of control looping statement that can run any statement until the condition becomes false spcified in the loop.
in do while loop the statement runs at least once no matter whether the condition is false or true.

In [7]:
name = 'Bikram'
for i in name:
  print(i)

B
i
k
r
a
m

In [8]:
count = 0
while (count < 5):
  count = count+1
  print('Bikram')

Bikram
Bikram
Bikram
Bikram
Bikram